.photo-grid {

  margin: 0 auto;
  padding-top: 92px;
  max-width: 1184px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));

  gap: 16px;
}

@media screen and (max-width: 1280px) {
  .photo-grid {
    max-width: calc(100vw - 2*48px);
  }
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media screen and (max-width: 976px) {
  .photo-grid {
    max-width: calc(100vw - 2*24px);
    padding-top: 88px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    max-width: 720px;
    padding: 88px 0 0;
  }
}

@media screen and (max-width: 752px) {
  .photo-grid {
    padding: 88px 16px 0;
  }
}

@media screen and (max-width: 700px) {
  .photo-grid {
    padding-top: calc(88px - ((700px - 100vw) * (88 - 64)/(700 - 320)));
  }
}
@media screen and (max-width: 320px) {
  .photo-grid {
    padding-top: calc(88px - ((700px - 100vw) * (88 - 64)/(700 - 320)));
  }
}
