.places {
  margin: 0 auto;
  padding-top: 84px;
  max-width: 984px;

  display: flex;
  flex-direction: column;
  gap: 80px 0;
}

@media screen and (max-width: 1080px) {
  .places {
    padding-top: 92px;
    max-width: calc(100vw - 2*48px);
  }
}
