.footer__link {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-decoration-line: none;

  transition: opacity ease 0.5s;
  color: #FFFFFF;

}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .footer__link {
    font-size: 24px;
  }
}
