.place__paragraph {

  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;

}

@media screen and (max-width: 976px) {
  .place__paragraph {
    font-size: calc(18px - ((976px - 100vw) * (18 - 16)/(976 - 768)));
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}
