.intro {
  max-width: 984px;
  margin: 0 auto;
  padding-top: 92px;

  display: flex;
  flex-direction: column;
  align-items: start;
}

@media screen and (max-width: 1080px) {
  .intro {
    max-width: calc(100vw - 2*48px);
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 976px) {
  .intro {
    max-width: calc(100vw - 2*24px);
    padding-top: 88px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 88px 0 0;
  }
}

@media screen and (max-width: 752px) {
  .intro {
    padding: 88px 16px 0;
  }
}

@media screen and (max-width: 700px) {
  .intro {
    padding-top: calc(88px - ((700px - 100vw) * (88 - 64)/(700 - 320)));
  }
}
