.cover__title {
  margin: 0;
  max-width: 560px;

  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-align: center;

  z-index: 1;
}

@media screen and (max-width: 752px) {
  .cover__title {
    padding: 0 16px;
    font-size: calc(72px - ((752px - 100vw) * (72 - 32)/(752 - 320)));
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
  }
}
